* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f4f4f4;
}

header {
    width: 100%;
    height: 70px;
}

.logo {
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.contenedorcajatexto{
    position: absolute;
    left: 150px;
    top: 10px;
    padding: 50px;
    width: 940px;x;
    height: 600px;
}


.cajatexto{
    width: 40%;
    height: 100%;
    padding: 30px 20px;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.cajatexto::placeholder {
    color: #0A3871;
}

.alerta{
    position: absolute;
    top: 750px;
    left: 300px;
    display: flex;
    color: #495057;  
}

.contenedor-botones{
    position: absolute;
    top: 800px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
}

.btn-encriptar{
    width: 250px;
    height: 60px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.btn-desencriptar{
    width: 250px;
    height: 60px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.seccion2{
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 840px;
    vertical-align: top;
    margin: 0 4.5%;
    padding: 30px 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 24px 32px -8px rgba(110, 68, 68, 0.5);
    border-radius: 32px;
}

.contenedormunieco{
    display: inline-block;
    left: 30px;
    top: 180px;
    box-sizing: border-box;
    padding-top: 50px;
}

.contenedor-parrafo{
    display: inline-block;
    box-sizing: border-box;
    top: 570px;
    left: 50px;
}

.contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}

.contenedor-parrafo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.contenedor-resultado{
    position: absolute;
    bottom: 330px;
    width: 320px;
    height: 40px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
}


.contenedor-resultado p{
    color: #495057;
    font-size: 45px;
    
}


.contenedor-copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}

.btn-copiar{
    width: 250px;
    height: 60px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: center; 
    top: 50px;
    right: 4px;
}

.ocultar{
    display: none;
}


/* Estilos para pantallas más pequeñas, como teléfonos móviles */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column; /* Cambia la dirección del flujo a columna */
        align-items: center; /* Centra los elementos en el eje transversal */
    }

    .contenedor-cajatexto,
    .section2 {
        width: 90%; /* Ancho del 90% para adaptarse a pantallas más pequeñas */
        margin: 20px auto; /* Ajusta el margen para centrar los contenedores */
        padding: 10px; /* Añade un poco de espacio alrededor del contenido */
    }

    .cajatexto {
        height: 200px; /* Reduce la altura del cuadro de texto */
        font-size: 16px; /* Redimensiona la fuente para pantallas más pequeñas */
    }

    .btn-encriptar,
    .btn-descifrar,
    .btn-copiar {
        width: 100%; /* Ancho del 100% para ocupar todo el espacio disponible */
        margin: 10px 0; /* Añade espacio entre los botones */
    }

    .contenedorimgmuneco img {
        max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
        height: auto; /* Hace que la imagen sea proporcional al ancho de su contenedor */
    }
}